body{
   
}

#b{
   width: 100%;
}

.principal{
   background: #cccccc
}

h1{
   text-align: center
}

P{
   text-align: center;
}

#m{
   font-size: 20px
}

em strong{
   color: #FF0000;
}

.lista{
   font-style: italic
}

.benefícios{
   background: #FFFFFF;
}

h2{
  text-align: center;
}

